<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<h2>My Appointments</h2>
		<div th:replace="userNavigation :: navigation"></div>
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>A</td>
				<td>14/12/2025</td>
				<td>
					<button>Cancel</button>
				</td>
			</tr>
			<tr>
				<td>B</td>
				<td>12/12/2026</td>
				<td>
					<button>Cancel</button>
				</td>
			</tr>
		</tabl>
	</body>
</html>