<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<h2>Doctors</h2>
		<div th:replace="userNavigation :: navigation"></div>
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Specialization</th>
				<th>Appointment</th>
			</tr>
			<tr>
				<td>A</td>
				<td>Surgeon</td>
				<td>
					<button>Book</button>
				</td>
			</tr>
			<tr>
				<td>B</td>
				<td>Physiotherapy</td>
				<td>
					<button>Book</button>
				</td>
			</tr>
		</tabl>
	</body>
</html>